<template lang="pug">
.home-page
  form.login-form(v-if="!auth" @submit.prevent="onSubmit") 
    .phone
      input(type="text" placeholder="Логин" v-model="login")
    .password
      input(type="password" placeholder="Пароль" v-model="password")
    .action
      button(type="submit") Войти
    .message(v-if="message") {{ message }}
  .greeting(v-else) Вы авторизованы. Перейдите в профиль
</template>

<script>
import { ref, computed } from 'vue'
import { useStore } from 'vuex'
export default {
  setup() {
    const store = useStore()
    const login = ref('')
    const password = ref('')

    return {
      login,
      password,
      auth: computed(() => store.state.main.auth),
      message: computed(() => store.state.main.message),

      onSubmit: () => {
        store.commit('main/setMessage', null)
        store.dispatch('main/login', {
          login: login.value,
          password: password.value
        })
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.login-form {
  display: block;
  padding: 24px;
  margin: 0 auto;
  width: 250px;
  background-color: #b9e5ff;
  border-radius: 16px;
  input {
    outline: none;
    padding: 6px 12px;
    margin-bottom: 6px;
    border: 1px solid #ffbcbc;
    border-radius: 7px;
  }
  .action {
    button {
      border: 1px solid #ffbcbc;
      border-radius: 7px;
      padding: 6px 12px;
    }
  }
}
</style>
