<template lang="pug">
.profile-page {{ Профиль }}
  .message(v-if="message") {{ message }}
  .user-data
    .user(v-if="user")
      .part-title Пользователь
      .data.user-id id: {{ user.id }}
      .data.name Имя: {{ user.name }}
      .data.surname Фамилия: {{ user.surname }}
      .data.phone Телефон: {{ user.phone }}
      .data.created Создан: {{ getRuDate(user.created_at) }}
      .data.updated Обновлён: {{ getRuDate(user.updated_at) }}
    .identity(v-if="identity")
      .part-title Личность
      .data.identity-id id: {{ identity.id }}
      .data.email Email: {{ identity.email }}
      .data.position Должность: {{ identity.exact_position_name }}
      .data.role Роль: {{ identity.role }}
      .data.created Создан: {{ getRuDate(identity.created_at) }}
      .data.updated Обновлён: {{ getRuDate(identity.updated_at) }}
    .company(v-if="company")
      .part-title Компания
      .data.company-id id: {{ company.id }}
      .data.name Название: {{ company.name }}
      .data.created Создан: {{ getRuDate(company.created_at) }}
      .data.updated Обновлён: {{ getRuDate(company.updated_at) }}
  .ext-data(v-if="user")
    .roles-data
      .action
        button(@click="getUserRoles") Список доступных ролей
      .user-roles(v-if="userRoles && userRoles.length")
        .part-title Роли
        .role(v-for="role of userRoles" :key="role.id")
          .data {{ role.id }}: {{ role.role }}
    .image-upload(v-if="user")
      .part-title Загрузка фото
        .upload
          label(for="file") Файл для загрузки:
          input(
            type="file"
            accept=".jpg, .jpeg, .png"
            @change="addSelectFile"
            :disabled="waiting"
          )
          .upload-note Только изображение до 10 мб
          .upload-selected-file(v-if="selectedFile")
            .preview-label Превью изображения
            img.uploading-image(v-if="previewImage" :src="previewImage")
            .filename {{ selectedFile.name }} ({{ (selectedFile.size / 1048576).toFixed(3) }} Mb)
            .upload-actions
              button(@click="selectedFile = null" :disabled="waiting") Удалить
              button.send-button(
                v-if="selectedFile"
                @click="upload"
                :disabled="waiting"
              ) Отправить
</template>

<script>
import { ref, computed, onMounted } from 'vue'
import { useStore } from 'vuex'

export default {
  setup() {
    const store = useStore()
    const message = ref('')
    const selectedFile = ref(null)
    const previewImage = ref(null)
    const waiting = ref(false)
    onMounted(() => {
      if (store.state.main.auth) {
        message.value = ''
        store.dispatch('main/getUser')
        store.dispatch('main/getCompany')
      } else {
        message.value = 'Вы не авторизовались'
      }
    })
    return {
      message,
      selectedFile,
      previewImage,
      user: computed(() => store.state.main.userData),
      identity: computed(() => store.state.main.identityData),
      company: computed(() => store.state.main.companyData),
      userRoles: computed(() => store.state.main.userRoles),
      getRuDate: (date) => {
        const newDate = new Date(date)
        return newDate.toLocaleString()
      },
      getUserRoles: () => {
        store.dispatch('main/getUserRoles')
      },
      addSelectFile(event) {
        const fr = new FileReader()
        fr.readAsDataURL(event.target.files[0])
        fr.onload = (e) => {
          previewImage.value = e.target.result
        }
        selectedFile.value = event.target.files[0]
      },
      upload() {
        waiting.value = true
        const formData = new FormData()
        formData.append('object_type', 'account__user')
        formData.append('object_id', this.user.id)
        formData.append('fixed_title', 'user_photo')
        formData.append('title', selectedFile.value.name)
        formData.append('file', selectedFile.value)
        store.dispatch('main/imageUpload', formData)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.profile-page {
  .user-data {
    display: flex;
    justify-content: space-between;
  }

  .part-title {
    padding: 6px 0;
    font-size: 20px;
    font-weight: 700;
  }
  .data {
    padding: 6px 0;
    font-size: 14px;
  }
  .ext-data {
    display: flex;
    justify-content: space-between;
  }
  .action {
    padding: 16px 0;
    button {
      padding: 6px 16px;
      background-color: #ff9797;
      border: none;
      border-radius: 12px;
    }
  }
  .upload {
    font-size: 14px;
    margin: 16px 0;
    label {
      margin-right: 12px;
    }
    .upload-note {
      margin: 16px 0;
    }
    .uploading-image {
      width: 150px;
    }
    .upload-actions {
      display: flex;
      .send-button {
        background-color: #ff9797;
      }
      button {
        padding: 6px 16px;
        margin-top: 7px;
        margin-right: 7px;
        border-radius: 7px;
        border: 1px solid #ff9797;
      }
    }
  }
}
</style>