<template lang="pug">
.footer-content
  .text {{ text }}
</template>

<script>
export default {
  data() {
    return {
      text: 'RNSB'
    }
  }
}
</script>

<style lang="scss" scoped>
.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  .text {
    font-size: 24px;
    margin: 0 12px;
  }
}
</style>
