<template lang="pug">
.top-content
  .menu-box
    top-menu
</template>

<script>
import TopMenu from './TopMenu.vue'

export default {
  components: {
    TopMenu
  }
}
</script>

<style lang="scss" scoped>
.top-content {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin: 0 auto;
  @media screen and (max-width: 800px) {
    width: 100%;
  }
}
.menu-box {
  display: flex;
  padding: 12px 0;
}
</style>
