<template lang="pug">
.top-menu
  .menu-link(v-for="link of topMenu" :key="link")
    router-link.link(active-class="active-link" :to="link.path") {{ link.name }}
  .menu-link
    .exit-link(v-if="auth" @click="loguot") Выход
</template>

<script>
import { useStore } from 'vuex'
import { computed } from 'vue'
import { useRouter } from 'vue-router'

export default {
  setup() {
    const store = useStore()
    const router = useRouter()
    const topMenu = computed(() => {
      return router.options.routes
    })

    return {
      topMenu,
      auth: computed(() => store.state.main.auth),
      loguot: () => {
        store.dispatch('main/loguot')
        router.push('/')
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.top-menu {
  display: flex;
  .link {
    color: #555;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    text-decoration: none;
    padding: 10px;
    &:hover {
      color: #e31e24;
    }
  }
  .active-link {
    color: #e31e24;
  }
  .exit-link {
    cursor: pointer;
    color: #555;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    text-decoration: none;
    padding: 1px 10px;
    &:hover {
      color: #e31e24;
    }
  }
}
</style>
