<template lang="pug">
.page
  .top-bar
    topBar
  .content
    .page-title
      h1 {{ $route.name !== 'Главная' ? $route.name : 'Тестовое задание RNSB' }}
    router-view
  .footer
    footerBar
</template>

<script>
import { useStore } from 'vuex'
import TopBar from './components/TopBar.vue'
import FooterBar from './components/FooterBar.vue'
import { computed, onMounted } from 'vue'

document.title = 'rnsb'
export default {
  components: {
    TopBar,
    FooterBar
  },
  setup() {
    const store = useStore()
    onMounted(() => {
      const storage = localStorage.getItem('authData')
      const authData = storage ? JSON.parse(storage) : null
      if (authData?.key && Date.parse(authData.valid_till) > Date.now()) {
        store.commit('main/setHeaders', { Authorization: authData.key })
        store.commit('main/setAuthData', authData)
        store.dispatch('main/getIdentity')
      }
    })
    return {
      auth: computed(() => store.state.main.auth)
    }
  }
}
</script>

<style lang="scss">
@import './assets/styles/styles.scss';
</style>
