@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
#app {
  font-family: 'Play', sans-serif;
}
html,
body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  display: block;
}
.page {
  height: 100vh;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.top-bar {
  background-color: #ffffff;
  box-shadow: 0px 3px 5px 1px #888;
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: fixed;
  z-index: 100;
  top: 0;
}

.page-title h1 {
  text-align: center;
  color: #555;
}
.content {
  justify-content: center;
  display: block;
  padding: 60px 0;
  overflow-x: hidden;
}
.footer {
  color: #555;
  background-color: #ffffff;
  box-shadow: 0px -3px 5px 1px #888;
  width: 100%;
  text-align: center;
  position: fixed;
  z-index: 100;
  padding: 10px 0;
  bottom: 0;
}

.modal-background {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 500;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.5);
}

@media screen and (min-width: 1170px) {
  .content {
    width: 1170px;
    margin: 0 auto;
  }
  .top-bar {
    margin: 0 auto;
    width: 100%;
  }
}

.link-button {
  text-decoration: none;
  color: #888;
  border-radius: 20px;
  border: 1px solid #888;
  padding: 7px 20px;
}
